.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: lightgray;
    color: black;
    margin: 15px;
}

.img {
    width: 100px;
    clip: rect(2px, 2px, 2px, 2px);
}

 .price-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    color: red;
 }

.name {
    text-transform: uppercase;
}

.button {
    width: 100px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid red;
    background-color: lightgray;
}